body{
	background: pink;
}



li{
	border: 2px solid green;
	color: purple;
}


#task1{
	color: red;
	border: 2px solid yellow;
}

#task2{
	color: purple;
	border: 2px solid #BDBDBD;
}

#task3{
	color: brown;
	border: 2px solid red;
}

#task4{
	color: #EEAA44;
	border: 2px solid blue;
}

.class1{
	color: #000000;
	border: 2px dashed violet;
	text-decoration: line-through;
}